.sectionBackround{
    background: #383848;
    padding: 20px 0;
}

body{
    background: #383848;
    margin:0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}

img {
    vertical-align: middle;
    border: 0;
}
.logo{
    height: 40px;
    width: 110px;
    margin-right: 540px;
}

.gradientText{
    font-size: 18px;
    background: -webkit-linear-gradient( #b1f79e, #21f9ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.tagLine{
    margin-top: -30px;
    margin-bottom: 20px;
}

.gradientBorderCircle {
    margin: 0;
    padding: 0;
    height: 252px;
    width: 252px;
    border-radius: 126px;
    display: inline-block;
}

.gradientInnerCircle{
    background: #383848;
    margin-top: 1px !important;
    color: #edc682;
    font-size: 16px;
    padding: 90px 20px !important;
}

.gradientBackGround {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b1f79e+0,21f9ec+100 */
    background: #b1f79e; /* Old browsers */
    background: -moz-linear-gradient(top,  #b1f79e 0%, #21f9ec 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b1f79e 0%,#21f9ec 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b1f79e 0%,#21f9ec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1f79e', endColorstr='#21f9ec',GradientType=0 ); /* IE6-9 */
}
.circleContainer{
    height: 250px;
    width: 250px;
    border-radius: 125px;
    display: inline-block;
    margin: 0 auto;
    padding: 70px 20px;
    text-align: center;
    word-wrap: break-word;
}

.fullWidth{
    float: left;
    width: 100%;
    display: block;
    text-align: center;
}

.rightSideCircle{
    margin-left: -40px;
    padding-top: 90px;
    font-size: 16px;
}

.commingSoonTxt{
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 25px;
    padding-top: 40px;
}

.getItFirst{
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 10px 30px;
    display: inline;
    margin-top: 5px;
    position: relative;
    cursor: pointer;
}

.arrowIcon{
    height: 20px;
    margin-right: 10px;
}

.iphoneSection{
    background-image: url("../Images/Background2.png");
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center;
    background-clip: border-box;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: padding-box;
    height: 600px;
    width: 100%;
    display: block;
    float: left;
    background-color: #383848;
}

.iphone{
    height: 500px;
    width: 700px;
    margin: 0 auto;
}

.iphoneGroupSection{
    background-image: url("../Images/Background5.png");
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center;
    background-clip: border-box;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: padding-box;
    height: 1400px;
    width: 100%;
    display: block;
    float: left;
    position: relative;
    z-index: 1;
    background-color: #383848;
}

.groupCircle{
    display: block;
    color: #edc682;
    font-size: 16px;
    background: #424151;
    margin-top: -90px;
    left: 120px;
    position: relative;
    padding-top: 90px;
    z-index: 0;
}

.searchByText{
    margin-top: 50px !important;
    z-index: 1;
    position: relative;

}

.iphoneGroup{
    height: 600px;
    width: 900px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: -200px;
    z-index: 2;
    position: relative;
}

.sectionTitle {
    color: #FFF;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}

.forLoveOfMusicSection{
    background-image: url("../Images/Background3.png");
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center;
    background-clip: border-box;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: padding-box;
    height: 600px;
    width: 100%;
    display: block;
    float: left;
    background-color: transparent;
    margin-top: -120px;
    position: relative;
    z-index: 2;
}

.orangeTxt{
    color: #edc682;
}

.forLoveTitle{
    margin-top: 60px;
}

.discoverNewDjSection{
    background: #383848;
}

.singerThumb{
    height: 350px;
    width: 350px;
    left: 120px;
    position: relative;
    z-index: 0;
}

.djCircle{
    position: relative;
    left: 40px;
}

.playerIconContainer{
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}
.prevBtn{
    height: 32px;
    width: 28px;
    cursor: pointer;
    margin-top: -15px;
}

.nextBtn{
    height: 32px;
    width: 28px;
    cursor: pointer;
    margin-top: -15px;
}

.playBtn{
    height: 80px;
    width: 80px;
    margin-top: -30px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.discoverNewDjTxt{
    font-size: 34px;
    margin: 15px;
}

.bigCircleContainer {
    height: 450px;
    width: 450px;
    border-radius: 225px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    word-wrap: break-word;
    background: transparent;
    padding-top: 120px;
    position: relative;
    z-index: 0;
    left: -100px;
}

.eqalSection{
    float: right;
    margin-right: -60px;
}

.rockEqal{
    margin-top: 60px;
    margin-right: -10px;
}

.hipHopEqual{
    margin-right: 20px;
    margin-top: 110px;
}

.houseEqual{
    margin-right: 30px;
    margin-top: 160px;
}

.equalizerType{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.equalizerIcon {
    height: 50px;
    float: right;
}

.footerContainer{
    background: #282834;
    color: #aaa9b7;
    padding: 20px 0;
    float: left;
    width: 100%;
    font-size: 12px;
    text-align: center;
}

.footerLeftSection{
    width: 50%;
    float: left;
    display: block;
}

.footerRightSection{
    width: 50%;
    float: left;
    display: block;
}